.ExpensesList {
    padding-top: 20px;
    background: linear-gradient(to bottom right, #4ca1af, #c4e0e5);
    height: 100vh;
    top: 0;
}
.filter {
    margin-bottom: 20px;
    margin-left: 20px;
}
.filter label {
    margin-right: 10px;
}
.filter select {
    padding: 5px;
}
.ExpensesList h2{
    margin-bottom: 10px;
    margin-left: 15px;
}
.expenses-table {
    width: 80vw;
    align-items: center;
    margin-left: 15px;
    border-collapse: collapse;
}
.expenses-table th,
.expenses-table td {
    border: 1px solid #2e2424;
    padding: 8px;
    text-align: left;
}
.expenses-table th {
    background-color: #24202084;
    color: rgba(255, 255, 255, 0.811);
    border-color: rgba(255, 255, 255, 0.808);
}
.expenses-table tr:nth-child(even){
    background-color: #f9f9f9;
}
.expenses-table tr:hover{
    background-color: #ddd;
}
.total-row{
    font-weight: bold;
    border-color: white;
    background-color: white;
}
.total-row td{
    border-color: white;
    background-color: white;
}
.SaveButton, .EditButton{
    padding: 5px 10px;
    margin: 1px 3px 1px 3px;
    color: white;
    background-color: rgb(12, 12, 173);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.SaveButton:hover, .EditButton:hover{
    background-color: rgb(1, 1, 81);
}
.CancelButton, .DeleteButton{
    padding: 5px 10px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.CancelButton:hover, .DeleteButton:hover{
    background-color: darkred;
}