.ExpensesList {
    margin-top: 20px;
}
.filter {
    margin-bottom: 20px;
    margin-left: 20px;
}
.filter label {
    margin-right: 10px;
}
.filter select {
    padding: 5px;
}
.ExpensesList h2{
    margin-bottom: 10px;
    margin-left: 15px;
}
.expenses-table {
    width: 80vw;
    align-items: center;
    margin-left: 15px;
    border-collapse: collapse;
}
.expenses-table th,
.expenses-table td {
    border: 1px solid #2e2424;
    padding: 8px;
    text-align: left;
}
.expenses-table th {
    background-color: #24202084;
    color: rgba(255, 255, 255, 0.811);
    border-color: rgba(255, 255, 255, 0.808);
}
.expenses-table tr:nth-child(even){
    background-color: #f9f9f9;
}
.expenses-table tr:hover{
    background-color: #ddd;
}
button{
    padding: 5px 10px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover{
    background-color: darkred;
}
.total-row{
    font-weight: bold;
    border-color: white;
    background-color: white;
}
.total-row td{
    border-color: white;
    background-color: white;
}